<style>
    /* General Styles */


    /* Container for the form */
    .custom-form-container  .content {
        max-width: 900px;
        margin: 30px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    }


    .customize--product-poppup .product-details{
      display: flex;
    }

    .customize--product-poppup .both--btn-final .new--form--ppup{
          margin-left: 12px;
    }
    /* Form Title */
    .custom-form-container  .form-head {
        font-size: 24px;
        color: #1e3d58;
        text-align: center;
        margin-bottom: 20px;
    }

    /* Fieldset and Legend */
    .custom-form-container  fieldset {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #fafafa;
    }

    .custom-form-container  legend {
        font-size: 18px;
        font-weight: bold;
        color: #1e3d58;
        margin-bottom: 20px;
        display: contents;
    }

    /* Question labels */
    .custom-form-container  label {
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
        display: block;
      font-weight: 600;
    }

    /* Radio buttons and checkboxes */
    .custom-form-container  input[type="radio"],
    .custom-form-container  input[type="checkbox"] {
        margin-right: 10px;
    }

    /* Input and Textarea Fields */
    .custom-form-container  input[type="radio"],
    .custom-form-container  input[type="checkbox"] {
        accent-color: #4ad6c9; /* Orange accent for checkboxes and radio buttons */
        cursor: pointer;
    }

    /* Styling for hidden alert messages */



    .custom-form-container  .alert {
        display: block;
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
    }



    .custom-form-container  .alert-danger,
    .custom-form-container  .button_block_ctm {
        background-color: #f8d7da;
        color: #721c24;
    }

    .custom-form-container  .alert-warning {
        background-color: #fff3cd;
        color: #856404;
    }

    .custom-form-container  .hidden {
        display: none;
    }
     .custom-form-container .custom_hidden{
      display: none !important;
    }


    /* Button styles */
   /* .custom-form-container  button {
        padding: 12px 20px;
        font-size: 16px;
        background-color: #ff9900;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    } */


    /* Input group for radio buttons and checkboxes */
    .custom-form-container  input[type="radio"]:checked,
    .custom-form-container  input[type="checkbox"]:checked {
        accent-color: #4ad6c9;
    }

    /* Responsive Design */
    @media (max-width: 768px) {
        .custom-form-container  .content {
            padding: 15px;
        }

        .custom-form-container  .form-head {
            font-size: 20px;
        }

        .custom-form-container  label {
            font-size: 14px;
        }

        .custom-form-container  input[type="radio"],
      .custom-form-container  input[type="checkbox"] {
            margin-right: 8px;
        }
    }

    /* Style for the checkbox for final consent */
    .custom-form-container  #confirm_terms {
        margin-right: 10px;
    }

    /* Style for the Terms and Conditions error message */
    .custom-form-container  #terms-error {
        font-size: 14px;
        color: #721c24;
        margin-top: 10px;
    }

    /* Styling for the medication list */
    .custom-form-container  #medication-list {
        margin-top: 15px;
        padding-left: 20px;
    }

    .custom-form-container  #medication-list p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .custom-form-container  #medication-list input[type="checkbox"] {
        margin-right: 10px;
    }

    /* Alert styling for "You must agree..." messages */
    .custom-form-container  #q1-error,
    .custom-form-container  #q2-warning,
    .custom-form-container  #q3-error,
    .custom-form-container  #q4-error,
    .custom-form-container  #q6-error,
    .custom-form-container  #q7-error,
    .custom-form-container  #q8-error,
    .custom-form-container  #q9-error,
    .custom-form-container  #q11-error,
    .custom-form-container  #q12-error,
    .custom-form-container  #q13-error,
    .custom-form-container  #q14-error {
        margin-top: 10px;
    }

    .custom-form-container  hr {
      margin: 29px 0;
  }

    .custom-form-container   .product-images img{
      width: 100%;
    }
     .custom-form-container   .product-images{
    flex: 0 0 150px;
      margin-right: 20px;
      max-width: 150px;
     }



    /* Custom style for submit button */
    .custom-form-container  #submitBtn {
        width: 100%;
        padding: 15px;
        font-size: 15px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        height:auto;
    }

    .custom-form-container .next:disabled{
      opacity: 0.4;
       cursor: not-allowed;
    }

   .custom-form-container  #submitBtn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }

    .custom-form-container  .show_checkboxes{
      display: block;
    }

    .custom-form-container  .ctm--inner--options{
      padding-left:15px;
    }

  .form-container.custom-form-container button {
    padding: 10px 20px;
    background-color: #51c3be;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
    @media screen and (min-width: 750px){
      .custom-form-container  #submitBtn {
        width: 50%;
    }
      .form-container.custom-form-container button {
        width: 50%;
      }
    }
</style>

<div class="form-container custom-form-container" id="formContainer">
  <form id="multiStepForm">
    {% if block.settings.custom_heading_form != blank %}
      <h2>{{ block.settings.custom_heading_form }}</h2>
    {% endif %}
    {% if block.settings.custom_subhead_form != blank %}
      <p>{{ block.settings.custom_subhead_form }}</p>
    {% endif %}

    <ul class="progressbar">
      {% if block.settings.details_progress != blank %}
        <li class="active">{{ block.settings.details_progress }}</li>
      {% endif %}
      {% if block.settings.finish_progress != blank %}
        <li>{{ block.settings.finish_progress }}</li>
      {% endif %}
    </ul>
    <div class="progress">
      <div class="progress-bar" id="progressBar"></div>
    </div>

    <!-- Step 1: Account + Personal -->
    <fieldset class="form-step active">
      <form id="edForm">
        <!-- About You Section -->
        <fieldset>
          {% if block.settings.heading1_block != blank %}
            <legend>{{ block.settings.heading1_block }}</legend>
          {% endif %}

          <!-- Question 1 -->
          <p class="question-block">
            {% if block.settings.question1_block != blank %}
              <label>{{ block.settings.question1_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[Gender]" value="Yes" class="non_change_error"> Yes
            <input type="radio" name="properties[Gender]" value="No" class="non_change_error"> No
            <!-- if no -->
            {% if block.settings.alert1_text != blank %}
              <span class="hidden alert alert-danger">{{ block.settings.alert1_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 2 -->

          <p class="question-block">
            {% if block.settings.question2_block != blank %}
              <label>{{ block.settings.question2_block }}</label>
            {%- endif %}

            <input type="radio" name="properties[Age]" value="Yes" class="input_yes_change_error"> Yes
            <input type="radio" name="properties[Age]" value="No" class="input_yes_change_error"> No

            <!-- if yes -->
            {% if block.settings.alert2_text != blank -%}
              <span class="hidden alert alert-danger">{{ block.settings.alert2_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 3 -->
          <p class="question-block">
            {% if block.settings.question3_block != blank %}
              <label>{{ block.settings.question3_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[Smoke drink]" value="Yes"> Yes
            <input type="radio" name="properties[Smoke drink]" value="No"> No

            <!-- if yes -->
            <!--
              <span class="hidden alert alert-danger">We are unable to supply you with medication for erectile dysfunction. Please consult your GP.</span>
            -->
          </p>
        </fieldset>

        <fieldset>
          {% if block.settings.heading2_block != blank %}
            <legend>{{ block.settings.heading2_block }}</legend>
          {% endif %}

          <!-- Question 1 -->
          <p class="question-block">
            {% if block.settings.question4_block != blank -%}
              <label>{{ block.settings.question4_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[Sexual performance]" value="Yes" class="non_change_error"> Yes
            <input type="radio" name="properties[Sexual performance]" value="No" class="non_change_error"> No

            <!-- if no -->
            {% if block.settings.alert4_text != blank %}
              <span class="hidden alert alert-danger">{{ block.settings.alert4_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 2 -->

          <p class="question-block">
            {% if block.settings.question5_block != blank %}
              <label>{{ block.settings.question5_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[Medication for erectile]" value="Yes" class="below_checkbox_enable">
            Yes
            <input type="radio" name="properties[Medication for erectile]" value="No" class="below_checkbox_enable"> No

            <!-- if yes -->
            <span class="hidden ctm--inner--options">
              <!-- <input type="checkbox" name="properties[Erectile dysfunction]" value="Did it work"><br> -->
              {% if block.settings.quesinner1_block != blank -%}
                <label>{{ block.settings.quesinner1_block }}</label>
              {%- endif %}
              <input type="radio" name="properties[Did it work]" value="Yes"> Yes
              <input type="radio" name="properties[Did it work]" value="No"> No
              <br>
              <!--
                <input type="checkbox" name="properties[Erectile dysfunction]" value="Did you experience any side effects?">Did you experience any side effects?<br>
              -->
              {% if block.settings.quesinner2_block != blank -%}
                <label>{{ block.settings.quesinner2_block }}</label>
              {%- endif %}
              <label></label>
              <input type="radio" name="properties[Did you experience]" value="Yes"> Yes
              <input type="radio" name="properties[Did you experience]" value="No"> No
            </span>
          </p>

          <!-- Question 3 -->
          <p class="question-block">
            {% if block.settings.question6_block != blank -%}
              <label>{{ block.settings.question6_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[Ingredients]" value="Yes" class="input_yes_change_error"> Yes
            <input type="radio" name="properties[Ingredients]" value="No" class="input_yes_change_error"> No

            <!-- if yes -->
            <span class="hidden alert alert-danger">{{ block.settings.alert6q_text }}</span>
          </p>

          <!-- Question 4 -->
          <p class="question-block">
            {% if block.settings.question7_block != blank -%}
              <label>{{ block.settings.question7_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[Allergic to any medicines]" value="Yes"> Yes
            <input type="radio" name="properties[Allergic to any medicines]" value="No"> No
          </p>
        </fieldset>

        <fieldset>
          {% if block.settings.heading3_block != blank %}
            <legend>{{ block.settings.heading3_block }}</legend>
          {% endif %}

          <!-- Question 1 -->
          <p class="question-block">
            {% if block.settings.questpatient1_block != blank -%}
              <label>{{ block.settings.questpatient1_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[Sexual activity]" value="Yes" class="input_yes_change_error"> Yes
            <input type="radio" name="properties[Sexual activity]" value="No" class="input_yes_change_error"> No

            <!-- if yes -->
            {% if block.settings.alert7q_text != blank %}
              <span class="hidden alert alert-danger">{{ block.settings.alert7q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 2 -->

          <p class="question-block">
            {% if block.settings.questpatient2_block != blank -%}
              <label>{{ block.settings.questpatient2_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[Breathless or chest pain]" value="Yes" class="input_yes_change_error">
            Yes
            <input type="radio" name="properties[Breathless or chest pain]" value="No" class="input_yes_change_error">
            No

            <!-- if yes -->
            {% if block.settings.alert8q_text != blank %}
              <span class="hidden alert alert-danger">{{ block.settings.alert8q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 3 -->

          <p class="question-block">
            {% if block.settings.questpatient3_block != blank %}
              <label>{{ block.settings.questpatient3_block }} </label>
            {%- endif %}
            <input type="radio" name="properties[Heart attack or stroke]" value="Yes" class="input_yes_change_error">
            Yes
            <input type="radio" name="properties[Heart attack or stroke]" value="No" class="input_yes_change_error"> No

            <!-- if yes -->
            {% if block.settings.alert9q_text != blank -%}
              <span class="hidden alert alert-danger">{{ block.settings.alert9q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 4 -->
          <p class="question-block">
            {% if block.settings.questpatient4_block != blank -%}
              <label>{{ block.settings.questpatient4_block }}</label>
            {%- endif %}
            <input
              type="radio"
              name="properties[Suffer from low blood pressure]"
              value="Yes"
              class="input_yes_change_error"
            >
            Yes
            <input
              type="radio"
              name="properties[Suffer from low blood pressure]"
              value="No"
              class="input_yes_change_error"
            >
            No

            <!-- if yes -->
            {% if block.settings.alert10q_text != blank -%}
              <span class="hidden alert alert-danger">{{ block.settings.alert10q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 5 -->
          <p class="question-block">
            {% if block.settings.questpatient5_block != blank %}
              <label>{{ block.settings.questpatient5_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[High blood pressure]" value="Yes" class="input_yes_change_error"> Yes
            <input type="radio" name="properties[High blood pressure]" value="No" class="input_yes_change_error"> No

            <!-- if yes -->
            {% if block.settings.alert11q_text != blank -%}
              <span class="hidden alert alert-danger">{{ block.settings.alert11q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 6 -->
          <p class="question-block">
            {% if block.settings.paragraph_list_question != blank %}
              <label>{{ block.settings.paragraph_list_question }}</label>
            {%- endif %}
            {% if block.settings.paragraph_list_text != blank %} {{ block.settings.paragraph_list_text }}{% endif %}
            <input type="radio" name="properties[Other heart problems]" value="Yes" class="input_yes_change_error"> Yes
            <input type="radio" name="properties[Other heart problems]" value="No" class="input_yes_change_error"> No

            <!-- if yes -->
            {% if block.settings.alert12q_text != blank %}
              <span class="hidden alert alert-danger">{{ block.settings.alert12q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 7 -->
          <p class="question-block">
            {% if block.settings.questpatient7_block != blank -%}
              <label>{{ block.settings.questpatient7_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[Peyronies disease]" value="Yes" class="input_yes_change_error"> Yes
            <input type="radio" name="properties[Peyronies disease]" value="No" class="input_yes_change_error"> No

            <!-- if yes -->
            {% if block.settings.alert13q_text != blank %}
              <span class="hidden alert alert-danger">{{ block.settings.alert13q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 8 -->
          <p class="question-block">
            {% if block.settings.questpatient8_block != blank %}
              <label>{{ block.settings.questpatient8_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[Inherited eye disease]" value="Yes" class="input_yes_change_error"> Yes
            <input type="radio" name="properties[Inherited eye disease]" value="No" class="input_yes_change_error"> No

            <!-- if no -->
            {% if block.settings.alert14q_text != blank -%}
              <span class="hidden alert alert-danger">{{ block.settings.alert14q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 9 -->
          <p class="question-block">
            {% if block.settings.questpatient9_block != blank %}
              <label>{{ block.settings.questpatient9_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[Galactose intolerance]" value="Yes" class="input_yes_change_error"> Yes
            <input type="radio" name="properties[Galactose intolerance]" value="No" class="input_yes_change_error"> No

            <!-- if yes -->
            {% if block.settings.alert15q_text != blank -%}
              <span class="hidden alert alert-danger">{{ block.settings.alert15q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 10 -->
          <p class="question-block">
            {% if block.settings.questpatient10_block != blank %}
              <label>{{ block.settings.questpatient10_block }}</label>
            {%- endif %}
            <input
              type="radio"
              name="properties[Diagnosed liver, kidney or urinary problems]"
              value="Yes"
              class="input_yes_change_error"
            >
            Yes
            <input
              type="radio"
              name="properties[Diagnosed liver, kidney or urinary problems]"
              value="No"
              class="input_yes_change_error"
            >
            No

            <!-- if no -->
            {% if block.settings.alert16q_text != blank -%}
              <span class="hidden alert alert-danger">{{ block.settings.alert16q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 11 -->
          <p class="question-block">
            {% if block.settings.questpatient11_block != blank %}
              <label>{{ block.settings.questpatient11_block }}</label>
            {%- endif %}
            <input type="radio" name="properties[Abnormal sugar levels]" value="Yes" class="input_yes_change_error"> Yes
            <input type="radio" name="properties[Abnormal sugar levels]" value="No" class="input_yes_change_error"> No

            <!-- if no -->
            {% if block.settings.alert17q_text != blank -%}
              <span class="hidden alert alert-danger">{{ block.settings.alert17q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 12 -->
          <p class="question-block">
            {% if block.settings.questpatient12_block != blank %}
              <label>{{ block.settings.questpatient12_block }}</label>
            {%- endif %}
            {% if block.settings.paragraph_list2_text != blank %}{{ block.settings.paragraph_list2_text }}{% endif %}
            <input type="radio" name="properties[Health conditions]" value="Yes" class="input_yes_change_error"> Yes
            <input type="radio" name="properties[Health conditions]" value="No" class="input_yes_change_error"> No

            <!-- if yes -->
            {% if block.settings.alert18q_text != blank -%}
              <span class="hidden alert alert-danger">{{ block.settings.alert18q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 13 -->
          <p class="multiple_checkboxes question-block">
            {% if block.settings.questpatient13_block != blank %}
              <label>{{ block.settings.questpatient13_block }}</label>
            {%- endif %}

            {% if block.settings.question_1checkbox != blank -%}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_1checkbox }}"
                class="reg_option_more"
              >
              {{- block.settings.question_1checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_2checkbox != blank %}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_2checkbox }}"
                class="reg_option_more"
              >
              {{- block.settings.question_2checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_3checkbox != blank %}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_3checkbox }}"
                class="reg_option_more"
              >
              {{- block.settings.question_3checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_4checkbox != blank %}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_4checkbox }}"
                class="reg_option_more"
              >
              {{- block.settings.question_4checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_5checkbox != blank %}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_5checkbox }}"
              >
              {{- block.settings.question_5checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_6checkbox != blank %}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_6checkbox }}"
              >
              {{- block.settings.question_6checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_7checkbox != blank %}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_7checkbox }}"
              >
              {{- block.settings.question_7checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_8checkbox != blank %}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_8checkbox }}"
              >
              {{- block.settings.question_8checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_9checkbox != blank %}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_9checkbox }}"
              >
              {{- block.settings.question_9checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_10checkbox != blank %}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_10checkbox }}"
              >
              {{- block.settings.question_10checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_11checkbox != blank %}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_11checkbox }}"
              >
              {{- block.settings.question_11checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_12checkbox != blank -%}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{  block.settings.question_12checkbox }}"
              >
              {{- block.settings.question_12checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_13checkbox != blank %}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_13checkbox }}"
              >
              {{- block.settings.question_13checkbox -}}
            {%- endif %}

            <br>
            {% if block.settings.question_14checkbox != blank -%}
              <input
                type="checkbox"
                name="properties[Currently using any other medication]"
                value="{{ block.settings.question_14checkbox }}"
              >
              {{- block.settings.question_14checkbox -}}
            {%- endif %}
            <br>

            <!-- if 1, 2, 3, 4 checked -->
            {% if block.settings.alert22q_text != blank -%}
              <span class="hidden alert alert-danger">{{ block.settings.alert22q_text }}</span>
            {%- endif %}
          </p>

          <!-- Question 14 -->
          <p class="question-block">
            {% if block.settings.question_15checkbox != blank %}
              <label>{{ block.settings.question_15checkbox }}</label>
            {%- endif %}
            <input type="radio" name="properties[Recreational drug]" value="Yes" class="input_yes_change_error"> Yes
            <input type="radio" name="properties[Recreational drug]" value="No" class="input_yes_change_error"> No

            <!-- if no -->
            {% if block.settings.alert23q_text != blank %}
              <span class="hidden alert alert-danger">{{ block.settings.alert23q_text }}</span>
            {%- endif %}
          </p>
        </fieldset>

        <fieldset>
          {% if block.settings.heading10_block != blank %}
            <legend>{{ block.settings.heading10_block }}</legend>
          {% endif %}

          <!-- Question 1 -->
          <p class="question-block">
            {% if block.settings.questconsent1_block != blank %}
              <label>{{ block.settings.questconsent1_block }}</label>
            {%- endif %}
            {% if block.settings.paragraph_list3_text != blank %} {{ block.settings.paragraph_list3_text }}{% endif %}

            <input type="radio" name="properties[Aware of the following]" value="Yes" class="non_change_error"> Yes
            <input type="radio" name="properties[Aware of the following]" value="No" class="non_change_error"> No

            <!-- if no -->
            {% if block.settings.alert24q_text != blank -%}
              <span class="hidden alert alert-danger">{{ block.settings.alert24q_text }}</span>
            {%- endif %}
          </p>

          <p class="question-block">
            <input type="checkbox" id="confirm_terms" name="confirm_terms" value="Yes">
            {% if block.settings.inline_custom_terms != blank %}{{ block.settings.inline_custom_terms }}{% endif %}
            {% if block.settings.alert25q_text != blank -%}
              <span id="terms-error" class="alert alert-danger">{{ block.settings.alert25q_text }}</span>
            {%- endif %}
          </p>

          {% if block.settings.alert26q_text != blank -%}
            <span ddgggg class="custom_hidden alert button_block_ctm">{{ block.settings.alert26q_text }}</span>
          {%- endif %}
        </fieldset>
        <div class="btns">
          {% if block.settings.next_btn != blank -%}
            <button type="button" class="next" disabled>{{ block.settings.next_btn }}</button>
          {%- endif %}
        </div>
      </form>
    </fieldset>

    <!-- Step 2: Image + Finish -->
    <fieldset class="form-step">
      <div class="product-details">
        <div class="product-images">
          {% assign featured_image = product.selected_variant.featured_image | default: product.featured_image %}
          <img alt="pharmazondirect" src="{{ featured_image | img_url: "medium" }}">
        </div>
        <div class="product-titles">
          {{ product.title }}
        </div>
      </div>

      <div class="btns both--btn-final">
        {% if block.settings.prev_btn != blank -%}
          <button type="button" class="prev">{{ block.settings.prev_btn }}</button>
        {%- endif %}
        {% if block.settings.check_my_btn != blank -%}
          <button
            type="submit"
            id="submitBtn"
            data_id_attr="{{ product.selected_or_first_available_variant.id }}"
            class="buy_btn custom_add_to_cart_button new--form--ppup"
            disabled
          >
            {{ block.settings.check_my_btn }}
          </button>
        {%- endif %}
      </div>
    </fieldset>
  </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
   // Multi step form value end
  $('input.input_yes_change_error').change(function () {
    if ($(this).val() == "Yes") {
      $(this).siblings('.alert-danger').removeClass('hidden');
    } else {
      $(this).siblings('.alert-danger').addClass('hidden');
    }


    checkFormErrors();
  });



  $('input.non_change_error').change(function () {
    if ($(this).val() == "No") {
      $(this).siblings('.alert-danger').removeClass('hidden');
    } else {
      $(this).siblings('.alert-danger').addClass('hidden');
    }

    checkFormErrors();
  });



  $('input.below_checkbox_enable').change(function () {
    if ($(this).val() == "Yes") {
      $(this).siblings('.ctm--inner--options').removeClass('hidden');
      $(this).siblings('.ctm--inner--options').addClass('show_checkboxes');
      $(this).siblings('.ctm--inner--options').find('input').attr('required', 'true');
    } else {
      $(this).siblings('.ctm--inner--options').addClass('hidden');
      $(this).siblings('.ctm--inner--options').removeClass('show_checkboxes');
      $(this).siblings('.ctm--inner--options').find('input').removeAttr('required');
    }

    checkFormErrors();
  });



  $('.multiple_checkboxes input').on('change', function () {

    $('.multiple_checkboxes input').not(this).prop('checked', false);

    $(this).find('.alert-danger').addClass('hidden');

    const isSpecial = $(this).hasClass('reg_option_more');
    const index = $('input.reg_option_more').index(this);

    if (isSpecial && $(this).is(':checked') && index >= 0 && index <= 3) {
      $(this).siblings('.alert-danger').removeClass('hidden');
    }else{
      $(this).siblings('.alert-danger').addClass('hidden');
    }


    checkFormErrors();
  });


  $('#confirm_terms').on('change', function () {
    if ($(this).is(':checked')) {
      $('#terms-error').addClass('hidden');
    } else {
      $('#terms-error').removeClass('hidden');
    }

    checkFormErrors();
  });


  function checkFormErrors() {
    let hasError = false;

    $('form .alert-danger').each(function () {
      if (!$(this).hasClass('hidden')) {
        hasError = true;
        return false;
      }
    });

    if (!$('#confirm_terms').is(':checked')) {
      hasError = true;
      $('#terms-error').removeClass('hidden');
    } else {
      $('#terms-error').addClass('hidden');
    }

    $('.next').prop('disabled', hasError);
    $('.new--form--ppup').prop('disabled', hasError);
  }

    // Custom multistep some code start

    const form = document.getElementById("multiStepForm");
  const steps = document.querySelectorAll(".form-step");
  const nextBtns = document.querySelectorAll(".next");
  const prevBtns = document.querySelectorAll(".prev");
  const progressBar = document.getElementById("progressBar");
  const progressItems = document.querySelectorAll(".progressbar li");

    let currentStep = 0;

    function showStep(index) {
    steps.forEach((step, i) => {
      step.classList.toggle("active", i === index);
      progressItems[i].classList.toggle("active", i <= index);
    });

    const percent = (index / (steps.length - 1)) * 100;
    progressBar.style.width = percent + "%";
  }


    // Custom multistep some code end

  document.querySelector('.next').addEventListener('click', function () {

      // alert("Hello");




      var isValid = true;
      var checkedRadioGroups = new Set();
      var checkedCheckboxGroups = new Set();

      $("input:radio:visible").each(function () {
          var name = $(this).attr("name");
          // if (!$this.is(":visible")) return;
          if (!checkedRadioGroups.has(name)) {
              if ($("input:radio[name='" + name + "']:visible:checked").length === 0) {
                  isValid = false;
              }
              checkedRadioGroups.add(name);
          }
      });

      $("input:checkbox").each(function () {
          var name = $(this).attr("name");
          if (!checkedCheckboxGroups.has(name)) {
              if ($("input:checkbox[name='" + name + "']:checked").length === 0) {
                  isValid = false;
              }
              checkedCheckboxGroups.add(name);
          }
      });

      const $button = $('.next');




      if (isValid) {
          // $button.prop('disabled', false);


        currentStep++;
        showStep(currentStep);
      $('.button_block_ctm.alert').hide();



      var input = document.querySelector('.quantity__input');
      var quantity = input ? parseInt(input.value, 10) : 0;



      let properties = {};

     var genderAnswer = document.querySelector('input[name="properties[Gender]"]:checked');
     var ageAnswer = document.querySelector('input[name="properties[Age]"]:checked');
     var Smoke_drink = document.querySelector('input[name="properties[Smoke drink]"]:checked');
     var sexual_performance = document.querySelector('input[name="properties[Sexual performance]"]:checked');
     var medication_for_erectile = document.querySelector('input[name="properties[Medication for erectile]"]:checked');
     var DidItWork = document.querySelector('input[name="properties[Did it work]"]:checked');
     var Did_you_experience = document.querySelector('input[name="properties[Did you experience]"]:checked');
     var ingredients = document.querySelector('input[name="properties[Ingredients]"]:checked');
     var aalergic_medicines = document.querySelector('input[name="properties[Allergic to any medicines]"]:checked');
     var sexual_activity = document.querySelector('input[name="properties[Sexual activity]"]:checked');
     var breathless_chestPain = document.querySelector('input[name="properties[Breathless or chest pain]"]:checked');
     var heart_attack = document.querySelector('input[name="properties[Heart attack or stroke]"]:checked');
     var low_blood_pressure = document.querySelector('input[name="properties[Suffer from low blood pressure]"]:checked');
     var high_blood_pressure = document.querySelector('input[name="properties[High blood pressure]"]:checked');
     var OtherHeartProblems = document.querySelector('input[name="properties[Other heart problems]"]:checked');
     var Peyronies_disease = document.querySelector('input[name="properties[Peyronies disease]"]:checked');
     var Inherited_eye_disease = document.querySelector('input[name="properties[Inherited eye disease]"]:checked');
     var GalactoseIntolerance = document.querySelector('input[name="properties[Galactose intolerance]"]:checked');
     var DiagnosedLiver = document.querySelector('input[name="properties[Diagnosed liver, kidney or urinary problems]"]:checked');
     var AbnormalSugarLevels = document.querySelector('input[name="properties[Abnormal sugar levels]"]:checked');
     var HealthConditions = document.querySelector('input[name="properties[Health conditions]"]:checked');
     var currently_medication = document.querySelector('input[name="properties[Currently using any other medication]"]:checked');
     var RecreationalDrug = document.querySelector('input[name="properties[Recreational drug]"]:checked');
     var awarefollow = document.querySelector('input[name="properties[Aware of the following]"]:checked');



      if (genderAnswer) {
        properties['Are you male?'] = genderAnswer.value;
      }

      if (ageAnswer) {
        properties['Are you under 18 years of age?'] = ageAnswer.value;
      }

      if (Smoke_drink) {
        properties['Are you a smoker and do you consume more than 2 cigarettes a day?'] = Smoke_drink.value;
      }

      if (sexual_performance) {
        properties['Are you having difficulty in getting and/or maintaining an erection satisfactory for sexual performance'] = sexual_performance.value;
      }

      if (medication_for_erectile) {
        properties['Have you used any medication for erectile dysfunction before?'] = medication_for_erectile.value;
      }

      if (DidItWork) {
        properties['Did It Work'] = DidItWork.value;
      }

      if (Did_you_experience) {
        properties['Did you experience any side effects?'] = Did_you_experience.value;
      }

      if (ingredients) {
        properties['Do you have any allergy to Sildenafil, tadalafil and vardenafil or any of its ingredients?'] = ingredients.value;
      }

      if (aalergic_medicines) {
        properties['Are you allergic to any medicines or other substances, for example peanuts or soya?'] = aalergic_medicines.value;
      }

      if (sexual_activity) {
        properties['Has your doctor advised that you are not fit enough for any physical and/or sexual activity?'] = sexual_activity.value;
      }

       if (breathless_chestPain) {
        properties['Do you feel very breathless or experience chest pain with light or moderate physical activity, such as walking briskly for 20 minutes or climbing two flights of stairs?'] = breathless_chestPain.value;
      }

     if (heart_attack) {
        properties['Have you had a heart attack or stroke within the last 6 months?'] = heart_attack.value;
      }

      if (low_blood_pressure) {
        properties['Do you suffer from low blood pressure (i.e. less than 90/50mmHg), and/or are prone to faints or collapses? If you are unsure, check with your GP or local pharmacy'] = low_blood_pressure.value;
      }

      if (high_blood_pressure) {
        properties['Do you have high blood pressure (i.e. above 150/90mmHg)? If you are unsure, check with your GP or local pharmacy?'] = high_blood_pressure.value;
      }

      if (OtherHeartProblems) {
        properties['Do you have any other heart problems or are you under a doctor’s care for any of the following'] = OtherHeartProblems.value;
      }

      if (Peyronies_disease) {
        properties['Do you have Peyronies disease, angulation or any other deformation of the penis?'] = Peyronies_disease.value;
      }

      if (Inherited_eye_disease) {
        properties['Have ever had loss of vision because of damage to the optic nerve (such as non-arteritic anterior ischaemic optic neuropathy [NAION]) or have an inherited eye disease?'] = Inherited_eye_disease.value;
      }

      if (GalactoseIntolerance) {
        properties['Do you have galactose intolerance, Lapp lactase deficiency or glucose-galactose malabsorption?'] = GalactoseIntolerance.value;
      }

     if (DiagnosedLiver) {
        properties['Do you have previously diagnosed liver, kidney or urinary problems?'] = DiagnosedLiver.value;
     }

     if (AbnormalSugarLevels) {
        properties['Do you currently suffer from diabetes or abnormal sugar levels?'] = AbnormalSugarLevels.value;
     }

    if (HealthConditions) {
        properties['Do you have any of the following health conditions'] = HealthConditions.value;
     }

    if (currently_medication) {
        properties['Are you currently using any other medication, even if you’re not taking it regularly? Select from list below'] = currently_medication.value;
     }

     if (RecreationalDrug) {
        properties['Do you take any recreational drug such as Amyl Nitrate (poppers) or cocaine?'] = RecreationalDrug.value;
     }

      if (awarefollow) {
        properties['Please confirm that you are aware of the following'] = awarefollow.value;
     }



      if (Object.keys(properties).length === 0) {
        return;
      }

      //   let formData = {
      //   'items': [{
      //     'id': elementAttr,
      //     'quantity': quantity,
      //     'properties': properties
      //   }]
      // };

      // fetch(window.Shopify.routes.root + 'cart/add.js', {
      //   method: 'POST',
      //   headers: {
      //     'Content-Type': 'application/json'
      //   },
      //   body: JSON.stringify(formData)
      // })
      // .then(response => response.json())
      // .then(data => {
      //   window.location.href = '/cart';
      // })
      // .catch((error) => {
      //   console.error('Error:', error);
      // });


      } else {
          // $button.prop('disabled', true);
        $(".next").siblings('.button_block_ctm').removeClass('custom_hidden');

         console.log('$button', $button);

      }


    });


  document.querySelector('.new--form--ppup').addEventListener('click', function () {
    var elementAttr = event.target.getAttribute('data_id_attr');


    var input = document.querySelector('.quantity__input');
      var quantity = input ? parseInt(input.value, 10) : 0;



      let properties = {};

     var genderAnswer = document.querySelector('input[name="properties[Gender]"]:checked');
     var ageAnswer = document.querySelector('input[name="properties[Age]"]:checked');
     var Smoke_drink = document.querySelector('input[name="properties[Smoke drink]"]:checked');
     var sexual_performance = document.querySelector('input[name="properties[Sexual performance]"]:checked');
     var medication_for_erectile = document.querySelector('input[name="properties[Medication for erectile]"]:checked');
     var DidItWork = document.querySelector('input[name="properties[Did it work]"]:checked');
     var Did_you_experience = document.querySelector('input[name="properties[Did you experience]"]:checked');
     var ingredients = document.querySelector('input[name="properties[Ingredients]"]:checked');
     var aalergic_medicines = document.querySelector('input[name="properties[Allergic to any medicines]"]:checked');
     var sexual_activity = document.querySelector('input[name="properties[Sexual activity]"]:checked');
     var breathless_chestPain = document.querySelector('input[name="properties[Breathless or chest pain]"]:checked');
     var heart_attack = document.querySelector('input[name="properties[Heart attack or stroke]"]:checked');
     var low_blood_pressure = document.querySelector('input[name="properties[Suffer from low blood pressure]"]:checked');
     var high_blood_pressure = document.querySelector('input[name="properties[High blood pressure]"]:checked');
     var OtherHeartProblems = document.querySelector('input[name="properties[Other heart problems]"]:checked');
     var Peyronies_disease = document.querySelector('input[name="properties[Peyronies disease]"]:checked');
     var Inherited_eye_disease = document.querySelector('input[name="properties[Inherited eye disease]"]:checked');
     var GalactoseIntolerance = document.querySelector('input[name="properties[Galactose intolerance]"]:checked');
     var DiagnosedLiver = document.querySelector('input[name="properties[Diagnosed liver, kidney or urinary problems]"]:checked');
     var AbnormalSugarLevels = document.querySelector('input[name="properties[Abnormal sugar levels]"]:checked');
     var HealthConditions = document.querySelector('input[name="properties[Health conditions]"]:checked');
     var currently_medication = document.querySelector('input[name="properties[Currently using any other medication]"]:checked');
     var RecreationalDrug = document.querySelector('input[name="properties[Recreational drug]"]:checked');
     var awarefollow = document.querySelector('input[name="properties[Aware of the following]"]:checked');



      if (genderAnswer) {
        properties['Are you male?'] = genderAnswer.value;
      }

      if (ageAnswer) {
        properties['Are you under 18 years of age?'] = ageAnswer.value;
      }

      if (Smoke_drink) {
        properties['Are you a smoker and do you consume more than 2 cigarettes a day?'] = Smoke_drink.value;
      }

      if (sexual_performance) {
        properties['Are you having difficulty in getting and/or maintaining an erection satisfactory for sexual performance'] = sexual_performance.value;
      }

      if (medication_for_erectile) {
        properties['Have you used any medication for erectile dysfunction before?'] = medication_for_erectile.value;
      }

      if (DidItWork) {
        properties['Did It Work'] = DidItWork.value;
      }

      if (Did_you_experience) {
        properties['Did you experience any side effects?'] = Did_you_experience.value;
      }

      if (ingredients) {
        properties['Do you have any allergy to Sildenafil, tadalafil and vardenafil or any of its ingredients?'] = ingredients.value;
      }

      if (aalergic_medicines) {
        properties['Are you allergic to any medicines or other substances, for example peanuts or soya?'] = aalergic_medicines.value;
      }

      if (sexual_activity) {
        properties['Has your doctor advised that you are not fit enough for any physical and/or sexual activity?'] = sexual_activity.value;
      }

       if (breathless_chestPain) {
        properties['Do you feel very breathless or experience chest pain with light or moderate physical activity, such as walking briskly for 20 minutes or climbing two flights of stairs?'] = breathless_chestPain.value;
      }

     if (heart_attack) {
        properties['Have you had a heart attack or stroke within the last 6 months?'] = heart_attack.value;
      }

      if (low_blood_pressure) {
        properties['Do you suffer from low blood pressure (i.e. less than 90/50mmHg), and/or are prone to faints or collapses? If you are unsure, check with your GP or local pharmacy'] = low_blood_pressure.value;
      }

      if (high_blood_pressure) {
        properties['Do you have high blood pressure (i.e. above 150/90mmHg)? If you are unsure, check with your GP or local pharmacy?'] = high_blood_pressure.value;
      }

      if (OtherHeartProblems) {
        properties['Do you have any other heart problems or are you under a doctor’s care for any of the following'] = OtherHeartProblems.value;
      }

      if (Peyronies_disease) {
        properties['Do you have Peyronies disease, angulation or any other deformation of the penis?'] = Peyronies_disease.value;
      }

      if (Inherited_eye_disease) {
        properties['Have ever had loss of vision because of damage to the optic nerve (such as non-arteritic anterior ischaemic optic neuropathy [NAION]) or have an inherited eye disease?'] = Inherited_eye_disease.value;
      }

      if (GalactoseIntolerance) {
        properties['Do you have galactose intolerance, Lapp lactase deficiency or glucose-galactose malabsorption?'] = GalactoseIntolerance.value;
      }

     if (DiagnosedLiver) {
        properties['Do you have previously diagnosed liver, kidney or urinary problems?'] = DiagnosedLiver.value;
     }

     if (AbnormalSugarLevels) {
        properties['Do you currently suffer from diabetes or abnormal sugar levels?'] = AbnormalSugarLevels.value;
     }

    if (HealthConditions) {
        properties['Do you have any of the following health conditions'] = HealthConditions.value;
     }

    if (currently_medication) {
        properties['Are you currently using any other medication, even if you’re not taking it regularly? Select from list below'] = currently_medication.value;
     }

     if (RecreationalDrug) {
        properties['Do you take any recreational drug such as Amyl Nitrate (poppers) or cocaine?'] = RecreationalDrug.value;
     }

      if (awarefollow) {
        properties['Please confirm that you are aware of the following'] = awarefollow.value;
     }



      if (Object.keys(properties).length === 0) {
        return;
      }

      let formData = {
        'items': [{
          'id': elementAttr,
          'quantity': quantity,
          'properties': properties
        }]
      };

      fetch(window.Shopify.routes.root + 'cart/add.js', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      })
      .then(response => response.json())
      .then(data => {
        window.location.href = '/cart';
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  });

   showStep(currentStep);
});
</script>
