<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background: {{ section.settings.back_color }};
     position: relative;
}
.cs_te-icon-slide_block_image_main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.cs_text-icon_im-mbl{
    display: none;
    object-fit: cover;
    width: 100%;
    height: auto;
}
.cs_text-icon_im-des{
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 310px;
}
.cs_text_icon_sl_block{
    padding: 20px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 4px 32px 0 rgba(76, 62, 121, 0.15);
    margin: 40px 0;
        box-sizing: border-box;
        display: flex;
    align-items: end;
    justify-content: space-between;
}
a.cert-button {
    background: #50427d;
    color: white;
    border: 2px solid #50427d;
    padding: 7px 20px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    margin-top: auto;
    margin: 0;
}
.cs_text-icon_img_mbl{
    display: block;
    object-fit: cover;
}
.cs_te-icon-slide_text p{
    margin: 0;
    color: var(--Black, #111);
    font-family: var(--custom-fonts);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 28.8px */
    padding-top: 58px;
    max-width: 269px;
    letter-spacing: 0;
}
.cs_te-icon-slide_block_image{
    height: 70px;
}
 @media screen and (max-width:768px){
.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mbl_padding_top }}px;
    padding-bottom: {{ section.settings.mbl_padding_bottom }}px;
  }
  .section-{{ section.id }}-padding .page-width{
    padding-right: 0 !important;
}
  .cs_te-icon-slide_text p {
    font-size: 16px;
    padding-top: 22px;
    max-width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: start;
    align-items: end;
    letter-spacing: -0.64px;
}
.cs_te-icon-slide_block_image{
    height: 60px;
}
.cs_text_icon_sl_block{
    padding: 12px;
    margin: 25px 0;
}
.cs_text-icon_im-mbl{
    display: block;
}
.cs_text-icon_im-des{
    display: none;
}
.cs_text_icon_sl_block {
  flex-direction: column;
}
a.cert-button {
  font-size: 10px;
  padding: 5px 18px;
  margin-top: 15px;
    width: 100%;
    text-align: center;
}
  }
</style>
<section class="section-{{ section.id }}-padding">
    <div class="cs_te-icon-slide_block_image_main">
              {{ section.settings.imag | image_url: width: 1440 | image_tag:
                class: 'cs_text-icon_im-des',
                widths: '50, 100, 150, 200, 250, 300, 400, 500, 1440',
                height: 100,
                width: 100,
                alt: logo_alt,
                loading: "lazy"
              }}
              {{ section.settings.imag-mbl | image_url: width: 1440 | image_tag:
                class: 'cs_text-icon_im-mbl',
                widths: '50, 100, 150, 200, 250, 300, 400, 500, 1440',
                height: 100,
                width: 100,
                alt: logo_alt,
                loading: "lazy"
              }}
                </div>
  <div class="page-width">
    <div class="cs_text_icon_sl_main">
          
        <div class="swiper cs_succcc_swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
            <div class="swiper-slide">
              
            <div class="cs_text_icon_sl_block block-{{ block.id }}">
              <div class="cs_text_icon_sl_block_new">
                <div class="cs_te-icon-slide_block_image">
              {{ block.settings.image | image_url: width: 1440 | image_tag:
                class: 'cs_text-icon_img_mbl',
                widths: '50, 100, 150, 200, 250, 300, 400, 500, 1440',
                height: 100,
                width: 100,
                alt: logo_alt,
                loading: "lazy"
              }}
                </div>
                <div class="cs_te-icon-slide_text">{{ block.settings.rich_title }}</div>
              </div>
               {% if block.settings.url-new  %}
             <a href="{{ block.settings.url-new }}" target="_blank" class="cert-button">Verify now</a>
               {% endif %}

            </div>
          
        </div>
        {% style %}
          .block-{{ block.id }} .cs_text-icon_img_mbl{
            max-width: {{ block.settings.img-width }}px;
            max-height: {{ block.settings.img-height }}px;
            min-width: {{ block.settings.img-width }}px;
            min-height: {{ block.settings.img-height }}px;
          }
          @media (max-width: 768px){
             .block-{{ block.id }} .cs_text-icon_img_mbl{
            max-width: {{ block.settings.img-width-mbl }}px;
            max-height: {{ block.settings.img-height-mbl }}px;
             min-width: {{ block.settings.img-width-mbl }}px;
            min-height: {{ block.settings.img-height-mbl }}px;
          }
          }
        {% endstyle %}
        {% endfor %}
    </div>
</div>
    </div>
</div>
</section>

{% schema %}
{
  "name": "Icon Text Slider",
  "settings": [
    {
       "type": "image_picker",
        "id": "imag",
        "label": "Desktop Image"
    },
    {
       "type": "image_picker",
        "id": "imag-mbl",
        "label": "Mobile Image"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 10
    },
    {
      "type": "range",
      "id": "mbl_padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile Top Padding",
      "default": 10
    },
    {
      "type": "range",
      "id": "mbl_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile Bottom Padding",
      "default": 10
    },
    {
       "type": "color_background",
        "id": "back_color",
        "label": "Background Color"
    }
  ],
  "blocks": [
      {
        "type": "best-sellers",
        "name": "Add Tab",
         "settings": [
          
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image Desktop"
                },
                {
                    "type": "range",
                    "id": "img-width",
                    "min": 0,
                    "max": 500,
                    "step": 5,
                    "unit": "px",
                    "label": "Image Width Desktop",
                    "default": 200
                    },
                    {
                    "type": "range",
                    "id": "img-height",
                    "min": 0,
                    "max": 500,
                    "step": 5,
                    "unit": "px",
                    "label": "Image Height Desktop",
                    "default": 200
                    },
                    {
                    "type": "range",
                    "id": "img-width-mbl",
                    "min": 0,
                    "max": 500,
                    "step": 5,
                    "unit": "px",
                    "label": "Image Width Mobile",
                    "default": 200
                    },
                    {
                    "type": "range",
                    "id": "img-height-mbl",
                    "min": 0,
                    "max": 500,
                    "step": 5,
                    "unit": "px",
                    "label": "Image Height Mobile",
                    "default": 200
                    },
                {
                    "type": "richtext",
                    "id": "rich_title",
                    "label": "List Text"
                },
                {
                  "type": "url",
                  "id": "url-new",
                  "label": "url"
                }
         ]
         }
        ],
  "presets": [
    {
      "name": "Icon Text Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper(".cs_succcc_swiper", {
      slidesPerView: 3,
      spaceBetween: 12,
      breakpoints: {
        0: { slidesPerView: 2.1, spaceBetween: 8 },
        600: { slidesPerView: 2, spaceBetween: 12 },
        900: { slidesPerView: 3, spaceBetween: 12 }
      }
    });
  });
</script>